{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "overrides": [
        {
            "files": ["*.ts", "*.tsx", "*.js", "*.jsx"],
            "rules": {
                "react/no-unescaped-entities": "off",
                // "@typescript-eslint/no-var-requires": "off",
                "react/react-in-jsx-scope": "off",

                // Consider using explicit annotations for object literals
                // and function return types even when they can be inferred.
                "@typescript-eslint/explicit-function-return-type": "off"
            }
        }
    ],
    "env": {
        "node": true,
        "browser": true,
        "amd": true,
        "jest": true
    },
    "settings": {
        "import/resolver": {
            "typescript": {}
        }
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",

        // "plugin:jest/recommended"
        "prettier",

        "plugin:@next/next/recommended",

        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "plugin:jsx-a11y/recommended"
        // "plugin:import/recommended"
    ]
}
